
{% extends "base.html" %}

{% block content %}

<div class="content-section">
    <div class="media">
       <img class="rounded-circle account-img" src="{{image}}"> 
      <!--  <img class="rounded-circle account-img" src="{{url_for('static' , filename='images/me.png') }}"/> -->
        <div class="media-body">
            <h2 class="account-heading">{{current_user.username}}</h2>
            <p class="text-secondary">{{current_user.email}}</p>
        </div>
    </div>

    <!---------------------------------------------------- 
    -------------UPDATE ACCOUNT ---------------  -->


<!--DOn't forget the ENCTYPE !!-->
    <form method='post' action='' enctype="multipart/form-data"> 
        {{ form.hidden_tag() }} <!-- this adds your csrf token -->
        <fieldset class="form-group">
            <legend class='border-bottom mb-4'>Account Info </legend>
            <div class='form-group'>
                {{ form.username.label(class="form-control-label")}}  <!--this is for the label--> 
                {% if form.username.errors %}
                <br>   {{ form.username(class="form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                        <span> {{error}} </span>
                    {% endfor %}
                </div>
                {% else %}
                <br>   {{ form.username(class="form-control-lg")}} <!--this is for the field itself -->
                {% endif %}
            </div> <br>
            <div class='form-group'>
                {{ form.email.label(class="form-control-label")}}  <!--this is for the label-->
                {% if form.email.errors %}
                <br>   {{ form.email(class="form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span> {{error}} </span>
                    {% endfor %}
                </div>
                {% else %}
                <br>   {{ form.email(class="form-control-lg")}} <!--this is for the field itself -->
                {% endif %}
            </div> <br>
           
            <!----------IMAGE FILE FIELD----------->
                <div class='form-group'>
                    {{ form.image.label()}}  <!--this is for the label-->
                    {{ form.image(class="form-control-label")}} <!--this is for the field itself -->
                    {% if form.image.errors %}
                        {% for error in form.image.errors %}
                            <span class="text-danger"> {{error}} </span>
                        {% endfor %}
                    {% endif %}
                </div> <br>
</fieldset>

            <div class='form-group'>
                <br> {{form.submit(class="btn btn-outline-secondary")}} 
             </div>
</div>


</form>




{% endblock content %}



