{<!-- this page is for both CREATE & UPDATE since it's only one form that you're gonna play with --> 
  
  {% extends "base.html" %}


 
 {% block content %} 
 



<div class="content-section">

  <form method='POST' action=''> 
      {{ form.hidden_tag() }} <!-- this adds your csrf token -->
      <fieldset class="form-group">
          <legend class='border-bottom mb-4'>{{legend}}</legend>
     <div class='form-group'>
              {{ form.title.label(class="form-control-label")}}  
              {% if form.title.errors %}
              <br>   {{ form.title(class="form-control-lg is-invalid")}}
              <div class="invalid-feedback">
                  {% for error in form.title.errors %}
                      <span> {{error}} </span>
                  {% endfor %}
              </div>
              {% else %}
              <br>   {{ form.title(class="form-control-lg")}} 
              {% endif %}
          </div> <br>
      

          <div class='form-group'>
            {{ form.content.label(class="form-control-label")}}  <!--this is for the label-->
            {% if form.content.errors %}
            <br>   {{ form.content(class="form-control-lg is-invalid")}}
            <div class="invalid-feedback">
                {% for error in form.content.errors %}
                    <span> {{error}} </span>
                {% endfor %}
            </div>
            {% else %}
            <br>   {{ form.content(class="form-control-lg")}} <!--this is for the field itself -->
            {% endif %}
       </div> <br>

       <div class='form-group'>
        <br> {{form.submit(class="btn btn-outline-secondary")}} 
     </div>

    </form>
  </div>

 {% endblock content %}